version: 2.1

orbs:
  maven: circleci/maven@0.0.12

#workflows:
#  maven_test:
#    jobs:
#      - maven/test # checkout, build, test, and upload test results

jobs:
  first-mvn-job-to-execute-tests:
    docker:
      - image: circleci/openjdk:8u171-jdk
    steps:
      - checkout
      #- run: 'echo Running test'
      - run:
         command: |
            echo technotrainer Running test
            mvn clean test
      - store_test_results:
          path: /home/circleci/project/target/
      - store_artifacts:
          path: /home/circleci/project/target/site/jacoco
          destination: testcaseDetails

  first-mvn-job-to-create-package:
    docker:
      - image: circleci/openjdk:8u171-jdk
    steps:
      - checkout
      #- run: 'echo Running test'
      - run:
         command: |
            echo technotrainer Running test
            mvn clean package
      - store_artifacts:
          path: /home/circleci/project/target/circleci-0.0.1-SNAPSHOT-jar-with-dependencies.jar
          destination: circleci-0.0.1.jar
  deploy-stage:
    docker:
      - image: circleci/openjdk:8u171-jdk
    working_directory: /tmp/my-project
    steps:
      - run:
          name: Deploy if tests pass and branch is Staging
          command: |
            curl -H "Circle-Token: b9d4971043a1d39269ab0b6f09758abb2244c4f4" https://circleci.com/api/v1.1/project/github/rishikhuranasufi/circleci-technotrainer/latest/artifacts
            java -jar circleci-0.0.1.jar


workflows:
  # Name the workflow "welcome"
  first-workflow-maven:
    # Run the welcome/run job in its own container
    jobs:
      - first-mvn-job-to-execute-tests
      - first-mvn-job-to-create-package:
          requires:
            - first-mvn-job-to-execute-tests
      - deploy-stage:
          requires:
            - first-mvn-job-to-create-package